//
// Base styles
//

.archive {
  // scss-docs-start card-css-vars
  --archive-spacer-y: #{map-get($spacers, 4)};
  --archive-title-spacer-y: #{$card-title-spacer-y};
  --archive-border-width: #{$card-border-width};
  --archive-border-color: #{$card-border-color};
  --archive-border-radius: #{$card-border-radius};
  --archive-height: #{$card-height};
  --archive-bg: #{$card-bg};
  // scss-docs-end card-css-vars

  position: relative;
  display: block;
  text-decoration: none;
  color: $body-color;
  min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
  height: var(--archive-height);
  word-wrap: break-word;
  background-color: var(--archive-bg);
  background-clip: border-box;
  border-top: var(--archive-border-width) solid var(--archive-border-color);
  padding: var(--archive-spacer-y) 0;

  &:hover {
    color: $body-color;
  }
}

.archive-body {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  color: var(--archive-color);
}

.archive-title {
  margin-bottom: var(--archive-title-spacer-y);
}

.archive-topic {
  margin-bottom: var(--archive-title-spacer-y);
}

.archive-text {
  margin-bottom: 0;
}

.archive-cover {
  line-height: 0;
  text-align: center;
}

@include media-breakpoint-down(sm) {
  .archive-cover {
    margin-bottom: #{$spacer};
  }
}

.archive-image-box {
  display: inline-block;
  position: relative;
  background-color: $light-picture-background;
  border-radius: var(--archive-border-radius);
  overflow: hidden;

  .archive-image {
    max-width: 100%;
    max-height: 162px;
  }

  @include media-breakpoint-down(sm) {
    .archive-image {
      max-height: 275px;
    }
  }
}

