//
// Base styles
//

.archives {
  margin-left: auto;
  margin-right: auto;
  width: 653px;

  .archive-group-title {
    margin-top: $spacer * 1.5;
    margin-bottom: $spacer;
    font-size: $h3-font-size;
  }

  @include media-breakpoint-down(lg) {
    .archive-group-title {
      font-size: $h4-font-size;
    }
  }

  @include media-breakpoint-down(md) {
    .archive-group-title {
      font-size: $h5-font-size;
    }
  }
}

@include media-breakpoint-down(lg) {
  .archives {
    width: 576px;
  }
}

@include media-breakpoint-down(md) {
  .archives {
    width: 87.5%;
  }
}

.archive {
  // scss-docs-start card-css-vars
  --archive-title-spacer-y: #{$card-title-spacer-y};
  --archive-border-width: #{$card-border-width};
  --archive-border-color: #{$card-border-color};
  --archive-border-radius: #{$card-border-radius};
  --archive-height: #{$card-height};
  --archive-bg: #{$card-bg};
  // scss-docs-end card-css-vars

  display: block;
  text-decoration: none;
  color: $body-color;
  min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
  height: var(--archive-height);
  word-wrap: break-word;
  background-color: var(--archive-bg);
  background-clip: border-box;
  border-top: var(--archive-border-width) solid var(--archive-border-color);
  padding: $spacer 0;

  &:hover {
    color: $body-color;
  }
}

.archive-body {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  color: var(--archive-color);
}

.archive-content {
  margin-left: $spacer * 2;

  &.archive-no-picture {
    margin-left: 0;
  }
}

@include media-breakpoint-down(lg) {
  .archive-content {
    margin-left: $spacer * 1.5;
  }
}

@include media-breakpoint-down(md) {
  .archive-content {
    margin-left: $spacer;
  }
}

.archive-topic {
  font-size: $font-size-base * .75;
  margin: 0;
  color: $secondary-text-color;
}

.archive-title {
  font-size: $h4-font-size;
  margin-top: $spacer * .5;
  margin-bottom: 0;
}

@include media-breakpoint-down(lg) {
  .archive-title {
    font-size: $h5-font-size;
  }
}

@include media-breakpoint-down(md) {
  .archive-title {
    font-size: $h6-font-size;
    margin-top: $spacer * .25;
  }
}

.archive-date {
  font-size: $font-size-sm;
  color: $secondary-text-color;
  margin-top: $spacer * 0.5;
  margin-bottom: 0;
}

@include media-breakpoint-down(md) {
  .archive-date {
    margin-top: $spacer * .25;
  }
}

.archive-cover {
  line-height: 0;
  text-align: center;
}

.archive-image-box {
  display: inline-block;
  background-color: $light-picture-background;
  border-radius: var(--archive-border-radius);
  overflow: hidden;

  .archive-image {
    width: 259px;
  }

  @include media-breakpoint-down(lg) {
    .archive-image {
      width: 264px;
    }
  }

  @include media-breakpoint-down(md) {
    .archive-image {
      width: 106px;
    }
  }
}

