//
// Base styles
//

main.archive {
  width: 769px;
  margin-inline: auto;
  padding-bottom: $spacer * 1.5;
  background-color: rgb(244, 236, 216);
  box-shadow: 0 6px 12px 3px rgba(0, 0, 0, 0.2);
}

@include media-breakpoint-down(lg) {
  main.archive {
    width: 692px;
  }
}

@include media-breakpoint-down(md) {
  main.archive {
    width: 100%;
  }
}

.archive-list {
  margin-left: auto;
  margin-right: auto;
  width: 653px;

  .archive-date {
    margin-top: $spacer * 1.5;
    margin-bottom: $spacer;
    font-size: $h3-font-size;
  }

  @include media-breakpoint-down(lg) {
    .archive-date {
      font-size: $h4-font-size;
    }
  }

  @include media-breakpoint-down(md) {
    .archive-date {
      font-size: $h5-font-size;
    }
  }
}

@include media-breakpoint-down(lg) {
  .archive {
    width: 576px;
  }
}

@include media-breakpoint-down(md) {
  .archive {
    width: 87.5%;
  }
}

.archive-record {
  word-wrap: break-word;
  background-clip: border-box;
  margin-top: $spacer;

  &:hover {
    text-decoration: none;
    color: $body-color;
  }
}

.archive-title {
  font-size: $h4-font-size;
  margin-bottom: 0;
}

@include media-breakpoint-down(lg) {
  .archive-title {
    font-size: $h5-font-size;
  }
}

@include media-breakpoint-down(md) {
  .archive-title {
    font-size: $h6-font-size;
    margin-top: $spacer * .25;
  }
}

.archive-subtitle {
  .date {
    color: $secondary-text-color;
    font-size: $font-size-default * .8;
  }
}

.topic {
  font-size: $font-size-default * .8;
  color: $primary-text-color;
  background-color: rgba(154, 128, 92, 0.06);
  padding: $spacer * 0.125 $spacer * 0.25;
  border-radius: $border-radius-sm;

  &.selected {
    color: $topic-color-selected;
  }
}
