// Article

.article {
  --article-component-margin-y: #{$spacer * 2};
  --article-heading-margin-y: #{$spacer * 1};
  --article-border: #{$border-width $border-style $border-color};
  --article-border-radius: #{$border-radius};
}

p.preamble {
  margin-top: $spacer * 2;
}

.article-header {
  margin-right: auto;
  margin-left: auto;

  &:after {
    display: block;
    content: '';
    margin-top: $spacer * 2;
    border-top: var(--article-border);
  }
}

.article-eyebow {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  font-weight: $font-weight-semibold;
  color: $secondary;

  margin-bottom: $spacer;

  .article-topic {
    .topic-link {
      color: $secondary;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .article-date {
    margin-top: $spacer * 0.25;
  }
}

@include media-breakpoint-down(lg) {
  .article-eyebow {
    margin-bottom: $spacer;
  }
}

.article-subhead {
  margin-top: $spacer;
  font-size: $h4-font-size;
  line-height: $line-height-sm;
}

@include media-breakpoint-down(lg) {
  .article-subhead {
    margin-top: $spacer;
    font-size: $h5-font-size;
  }
}

.component {
  margin-right: auto;
  margin-left: auto;
}

.component-text {
  width: 653px;
}

.component-image {
  width: 980px;
}

@include media-breakpoint-down(lg) {
  .component-text {
    width: 576px;
  }

  .component-image {
    width: 692px;
  }
}

@include media-breakpoint-down(md) {
  .component-text {
    width: 87.5%;
  }

  .component-image {
    width: 100%;
  }
}

.component-header {
  margin-top: $spacer * 2;
  margin-bottom: $spacer;
}

ul {
  &.checklist {
    list-style: none;

    & > li {
      position: relative;
    }

    & > li:before {
      display: inline-block;
      font-family: $bootstrap-icons-font !important;
      font-style: normal;
      font-weight: normal !important;
      font-variant: normal;
      text-transform: none;
      line-height: 1.5;
      vertical-align: -.125em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      left: -1.25rem;
    }

    & > li.checked:before {
      content: "\f270";
    }

    & > li.unchecked:before {
      content: "\f28a";
    }
  }

  &.toc {
    list-style: none;
    margin-left: 0;
    padding-left: $spacer * 1.25;
    border-left: 4px solid $border-color;

    & ul {
      list-style: none;
    }
  }
}
