// Article

.article {
  padding-top: $spacer * 1.5;
  padding-bottom: $spacer * 1.5;
}

.article-header {
  margin-right: auto;
  margin-left: auto;

  &:after {
    display: block;
    content: '';
    margin-top: $spacer * 1.5;
    border-top: $primary-border;
  }
}

.article-eyebow {
  margin-top: $spacer * .5;

  .date {
    color: $secondary-text-color;
    font-size: $font-size-sm;
  }

  .topic {
    font-size: $font-size-default * .8;
    color: $topic-color;
    background-color: $topic-bg;
    padding: $spacer * 0.125 $spacer * 0.25;
    border-radius: $border-radius;
  }
}

@include media-breakpoint-down(lg) {
  .article-eyebow {
    margin-top: $spacer * .25;
  }
}

.article-subhead {
  margin-top: $spacer;
  font-size: $h4-font-size;
  line-height: $line-height-sm;
}

@include media-breakpoint-down(lg) {
  .article-subhead {
    margin-top: $spacer;
    font-size: $h5-font-size;
  }
}

.component {
  margin-right: auto;
  margin-left: auto;
}

.component-text {
  width: 653px;
}

.component-image {
  width: 980px;
}

@include media-breakpoint-down(lg) {
  .component-text {
    width: 576px;
  }

  .component-image {
    width: 692px;
  }
}

@include media-breakpoint-down(md) {
  .component-text {
    width: 87.5%;
  }

  .component-image {
    width: 100%;
  }
}

.component-header {
  margin-top: $spacer * 3;
  margin-bottom: $spacer * 1.5;
}

ul {
  &.checklist {
    li:before {
      font-family: 'Material Symbols Sharp';
      font-weight: normal;
      font-style: normal;
      font-size: $font-size-default * 1.5;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      left: -1.75rem;
      top: -.1rem;
    }

    li.checked:before {
      content: "\e5ca";
      color: #34a853;
    }

    li.unchecked:before {
      content: "\e835";
      color: #dadce0;
    }
  }

  &.toc {
    margin-left: 0;
    margin-top: $spacer * 1.75;
    margin-bottom: $spacer * 1.5;
    padding-left: $spacer * .75;
    border-left: 4px solid #3f51b5;

    ul {
      margin-left: 0;
      padding-left: $spacer * .75;
    }

    li, p {
      margin-block: $spacer * .25;
    }

    li:before {
      content: none;
    }

    a.toc-title {
      font-size: $font-size-default * .8;
      color: $body-color;

      &:hover {
        color: $link-color;
      }
    }
  }
}
