// Article

.article {
  --article-component-margin-y: #{$spacer * 2};
  --article-heading-margin-y: #{$spacer * 1};
  --article-border: #{$border-width $border-style $border-color};
  --article-border-radius: #{$border-radius};
}

// listing in article
.article {
  margin-top: $spacer;
  margin-bottom: $spacer;

  ul, ol {
    margin-top: $spacer * 0.75;
    margin-bottom: 0;
    margin-left: $spacer * 1.25;
    padding: 0;
  }

  li, li p {
    margin-bottom: 0;

    &:not(:first-child) {
      margin-top: $spacer * 0.75;
    }
  }

  dl {
    margin-bottom: 0;
  }

  dt:not(:first-child) {
    margin-top: $spacer * 0.75;
  }

  dd {
    margin-bottom: 0;
    margin-left: $spacer * 2;
  }

  dd p {
    margin-bottom: 0;

    &:not(:first-child) {
      margin-top: $spacer * 0.75;
    }
  }
}

.article-header:after {
  display: block;
  content: '';
  margin-top: var(--article-component-margin-y);
  border-top: var(--article-border);
}

.article-topic {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  font-weight: $font-weight-semibold;

  margin-bottom: $spacer * .5;

  .topic-link {
    color: $secondary;

    &:hover {
      text-decoration: underline;
    }
  }
}

.article-date .date-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-left: 0;
  list-style: none;

  font-size: $font-size-sm;
  line-height: $line-height-sm;

  .date-entry {
    display: block;
    margin-top: $spacer * .5;

    &:not(:last-child) {
      margin-right: $spacer * .75;
    }

    .date-entry-label {
      margin-right: $spacer * .25;
      color: $secondary;
    }
  }
}

.article-subhead {
  margin-top: $spacer * .5;
  font-size: $h4-font-size;
  line-height: $line-height-sm;
}

.article-component {
  margin-top: var(--article-component-margin-y);
}

.article-copy {
  margin-bottom: var(--article-component-margin-y);
}

.article-heading {
  margin-top: var(--article-heading-margin-y);
  margin-bottom: var(--article-heading-margin-y);
}

ul {
  &.checklist {
    list-style: none;

    & > li {
      position: relative;
    }

    & > li:before {
      display: inline-block;
      font-family: $bootstrap-icons-font !important;
      font-style: normal;
      font-weight: normal !important;
      font-variant: normal;
      text-transform: none;
      line-height: 1.5;
      vertical-align: -.125em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      left: -1.25rem;
    }

    & > li.checked:before {
      content: "\f270";
    }

    & > li.unchecked:before {
      content: "\f28a";
    }
  }
}
