//
// Base styles
//

.btn {
  display: inline-block;
  border: none;
  background-color: transparent;
}

//
// Link buttons
//
.btn-link {
  &:hover {
    text-decoration: $link-hover-decoration;
  }
}

//
// Button Sizes
//
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: $font-size-sm;
}

.btn-icon {
  padding: 0;
  margin: 0 0.25rem;
  line-height: 1;
}
