// Main

.main-container {
  @include make-container($gutter: 0);
}

.main {
  margin-top: $spacer * 3;

  &.main-archive {
    margin-top: $spacer * 6;
  }

  &.main-no-header {
    margin-top: $spacer;
  }

  @include media-breakpoint-down(md) {
    margin-top: $spacer * 2.5;

    &.main-archive {
      margin-top: $spacer * 5.5;
    }
  }

  main {
    background-color: $white;
  }
}
