// Main

.main-container {
  @include make-container($gutter: 0);
}

.main {
  margin-top: $spacer * 4;
  margin-bottom: $spacer * 1.5;

  &.main-archive, &.main-topic {
    margin-top: $spacer * 7;
  }

  &.main-no-header {
    margin-top: $spacer * 1.5;
  }

  main {
    background-color: $white;
  }
}
