//
// Figures
//

figure {
  display: block;
  margin: $spacer 0 0;
}

figcaption, .image-desc {
  @include font-size($figure-caption-font-size);
  line-height: $line-height-base;
  text-align: center;
  margin-top: $spacer * 0.5;
}

.image-desc {
  margin-bottom: $spacer;
}

.image-sheet {
  line-height: 0;
  text-align: center;
  margin-top: $spacer;
}

.image-box {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

picture {
  display: inline-block;
}

.picture-image {
  max-width: 100%;
}
