// Archive filter

.filter-bar {
  background-color: $light-background;
}

.filter-bar-content {
  padding-top: $spacer;
  padding-bottom: $spacer;
  margin-left: auto;
  margin-right: auto;
  width: 653px;
}

@include media-breakpoint-down(lg) {
  .filter-bar-content {
    width: 576px;
  }
}

@include media-breakpoint-down(md) {
  .filter-bar-content {
    width: 87.5%;
  }
}
