// Header

@mixin link-after($border-color) {
  display: block;
  border-top: map-get($border-widths, 3) solid $border-color;
  border-radius: $border-radius $border-radius 0 0;
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--#{$prefix}nav-link-padding-x);
  right: var(--#{$prefix}nav-link-padding-x);
}

.header {
  contain: layout;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  .header-shadow {
    position: relative;
    box-shadow: $header-shadow;

    &::before {
      display: block;
      background-color: $white;
      height: 6px;
      content: '';
      position: absolute;
      top: -6px;
      left: 0;
      right: 0;
    }
  }

  .header-logo-row {
    padding-top: $spacer * .5;
    padding-bottom: $spacer * .5;
    border-bottom: 1px solid $border-color;
    background-color: $white;

    position: relative;
    z-index: 20;

    &.no-tabs {
      border-bottom: none;
    }
  }

  .header-title {
    color: $body-color;
    font-size: $h4-font-size;
    text-decoration: none;
  }

  @include media-breakpoint-down(md) {
    .header-title {
      font-size: $h5-font-size;
    }
  }

  .header-tabs {
    background-color: $white;
    position: relative;
  }

  .nav {
    margin-left: 0;
  }

  .nav-item {
    margin: 0;

    &:before {
      content: none;
    }

    & > .nav-link {
      color: $secondary-text-color;
      position: relative;
      padding: $spacer * .75 var(--#{$prefix}nav-link-padding-x);

      &:hover::after {
        @include link-after($secondary-text-color);
      }
    }

    @include media-breakpoint-down(md) {
      & > .nav-link {
        padding: $spacer * .5 var(--#{$prefix}nav-link-padding-x);
      }
    }

    &[active] > .nav-link {
      color: $body-color;

      &::after {
        @include link-after($body-color);
      }
    }
  }
}
