//
// Figures
//

.figure {
  display: block;
}

.figure-picture {
  display: inline-block;
  background-color: $light-picture-background;
  border-radius: var(--article-border-radius);
  margin-bottom: $spacer * .5;
  line-height: 1;
  position: relative;
}

.picture-image {
  max-width: 100%;
  margin: 0 auto;
}

.figure-caption {
  @include font-size($figure-caption-font-size);
  color: $figure-caption-color;
}
