// Notices

aside {
  margin-top: $spacer;
  padding: $spacer;
  border-radius: $border-radius;
  color: $secondary-text-color;
  position: relative;

  &::before {
    font-family: $bootstrap-icons-font;
    font-style: normal;
    font-weight: $font-weight-normal;
    font-variant: normal;
    font-size: $font-size-base;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: $spacer * .875;
    left: $spacer;
  }

  .prompt-content {
    padding-left: $spacer * 2;

    :first-child {
      margin-top: 0;
    }
  }
}

aside.tip {
  background-color: rgba(25,25,28,0.05);
  &::before {
    content: "\f193";
  }
}

aside.note, aside.important {
  background-color: rgba(77,187,95,0.2);
  &::before {
    color: #4dbb5f;
    content: "\f332";
  }
}

aside.caution, aside.warning {
  background-color: rgba(244,92,74,0.2);
  &::before {
    color: #f45c4a;
    content: "\f33a";
  }
}
