// Notices

aside.prompt {
  display: inline-flex;
  max-width: 100%;
  margin-top: $spacer;
  padding: $spacer;
  border-radius: $border-radius;

  .prompt-content {
    :first-child {
      margin-top: 0;
    }
  }

  .prompt-icon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-right: $spacer;
    fill: currentColor;
  }

  &.tip {
    background-color: rgba(25,25,28,0.05);

    .prompt-icon {
      color: rgba(25, 25, 28, 0.7);
    }
  }
  &.note, &.important {
    background-color: rgba(77,187,95,0.2);

    .prompt-icon {
      color: #4dbb5f;
    }
  }
  &.warning, &.caution {
    background-color: rgba(244,92,74,0.2);

    .prompt-icon {
      color: #f45c4a;
    }
  }
}
