// Notices

aside {
  display: inline-flex;
  max-width: 100%;
  margin-top: $spacer;
  padding: $spacer;
  border-radius: $border-radius;
  position: relative;

  &::before {
    font-family: $bootstrap-icons-font;
    font-style: normal;
    font-weight: $font-weight-normal;
    font-variant: normal;
    font-size: $font-size-base;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: $spacer * .875;
    left: $spacer;
  }

  .prompt-content {
    padding-left: $spacer * 2;

    :first-child {
      margin-top: 0;
    }
  }
}

aside.tip, aside.important {
  background-color: #f1faf1;
  &::before {
    color: #0e700e;
    content: "\f46b";
  }

  a {
    color: #0e700e;
  }
}

aside.note {
  background-color: #f2f2f2;
  &::before {
    color: $primary-text-color;
    content: "\f431";
  }
}

aside.warning {
  background-color: #fff9f5;
  &::before {
    color: #8a3707;
    content: "\f33b";
  }

  a {
    color: #8a3707;
  }
}

aside.caution {
  background-color: #fdf3f4;
  &::before {
    color: #b10e1c;
    content: "\f333";
  }

  a {
    color: #b10e1c;
  }
}
