.pagination {
  display: flex;
  margin-left: 0;
  margin-block: $spacer;

  li {
    margin-block: 0;

    &::before {
      content: none;
    }
  }
}

.page-num, .page-link {
  display: inline-block;
  padding-inline: $spacer * 0.75;
}
