// STEM

.stem-listing {
  border-radius: $border-radius;
  overflow: hidden;
  line-height: $line-height-base;
  text-align: center;
  margin-top: $spacer * 2;
  margin-bottom: $spacer * 2;

  .stem {
    padding: $spacer * .5 $spacer;
    overflow: auto;
  }
}
