// STEM

.stem-listing {
  border-radius: $border-radius;
  overflow: hidden;
  line-height: $line-height-base;
  margin: $spacer 0;

  .stem {
    overflow-x: auto;

    .katex-display {
      padding: 0 $spacer * 0.5;
    }
  }
}
