// STEM

.stem-listing {
  border-radius: $border-radius;
  overflow: hidden;
  line-height: $line-height-base;
  text-align: center;
  margin: $spacer 0;

  .stem {
    padding: $spacer * .5;
    overflow: auto;
  }
}
