//
// Table
//

.table-wrapper {
  margin-top: $spacer * 2;
  margin-bottom: $spacer * 2;
  overflow-x: auto;
}

.table {
  --#{$prefix}table-color: #{$table-color};
  --#{$prefix}table-bg: #{$white};
  --#{$prefix}table-border-color: #{$table-border-color};

  max-width: 100%;
  color: var(--#{$prefix}table-color);
  border-style: hidden;
  border-color: var(--#{$prefix}table-border-color);

  > thead {
    vertical-align: bottom;

    > tr > th {
      padding: $table-cell-padding-y $table-cell-padding-x;
      background-color: var(--#{$prefix}table-bg);
      border-width: $table-border-width;
      border-bottom-width: 2px;
    }
  }

  > tbody {
    vertical-align: top;

    > tr > td {
      padding: $table-cell-padding-y $table-cell-padding-x;
      background-color: var(--#{$prefix}table-bg);
      border-width: $table-border-width;
    }

    code {
      color: $body-color;
      background-color: transparent;
      padding: 0;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}

th {
  font-weight: $font-weight-semibold;
}

caption {
  @include font-size($figure-caption-font-size);
  color: $figure-caption-color;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: $spacer;
}
