//
// Table
//

.table-wrapper {
  margin-top: $spacer;
  overflow-x: auto;
}

table {
  &.stretched {
    width: 100%;
  }

  font-size: $font-size-sm;

  tbody tr {
    border-bottom: 1px solid #e4e4e4;
  }

  th {
    color: $white;
    background-color: #97a6b2;
  }

  th, td {
    padding: $spacer*0.5 $spacer*0.5;
    vertical-align: top;

    > :first-child {
      margin-top: 0;
    }
  }

  code {
    margin-inline: 0;
    padding: 0;
    border-radius: revert;
    background-color: transparent;
  }

  caption {
    @include font-size($figure-caption-font-size);
    color: $body-color;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: $spacer * 0.5;
  }
}
