// Base class
//
// Easily usable on <ul>, <ol>, or <div>.

.topic-list {
  // scss-docs-start list-group-css-vars
  --topic-list-color: #{$list-group-color};
  --topic-list-border-color: #{$list-group-border-color};
  --topic-list-border-width: #{$list-group-border-width};
  --topic-list-item-padding-x: #{$list-group-item-padding-x};
  --topic-list-item-padding-y: #{$list-group-item-padding-y};
  // scss-docs-end list-group-css-vars

  display: flex;
  flex-direction: column;

  // No need to set list-style: none; since .topic-list-item is block level
  padding-left: 0; // reset padding because ul and ol
  margin-bottom: 0;
}

// Individual list items
//
// Use on `li`s or `div`s within the `.topic-list` parent.

.topic-list-item {
  position: relative;
  display: block;
  padding: var(--topic-list-item-padding-y) 0;
  color: var(--topic-list-color);
  text-decoration: none;
  border-bottom: var(--topic-list-border-width) solid var(--topic-list-border-color);

  &:hover {
    color: var(--topic-list-color);
  }

  &:last-child {
    border-bottom-width: 0;
  }
}
