// Base class
//
// Easily usable on <ul>, <ol>, or <div>.

.topic-list {
  // scss-docs-start list-group-css-vars
  --topic-list-color: #{$list-group-color};
  --topic-list-border-color: #{$list-group-border-color};
  --topic-list-border-width: #{$list-group-border-width};
  // scss-docs-end list-group-css-vars

  display: flex;
  flex-direction: column;

  // No need to set list-style: none; since .topic-list-item is block level
  padding-left: 0; // reset padding because ul and ol
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 653px;
}

@include media-breakpoint-down(lg) {
  .topic-list {
    width: 576px;
  }
}

@include media-breakpoint-down(md) {
  .topic-list {
    width: 87.5%;
  }
}

// Individual list items
//
// Use on `li`s or `div`s within the `.topic-list` parent.

.topic-list-link {
  position: relative;
  padding: $spacer 0;
  color: var(--topic-list-color);
  text-decoration: none;
  border-bottom: var(--topic-list-border-width) solid var(--topic-list-border-color);

  &:hover {
    color: var(--topic-list-color);
  }

  &:last-child {
    border-bottom-width: 0;
  }

  .topic-row {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .topic-title {
      margin-bottom: 0;
    }

    .topic-count {
      color: $secondary;
    }
  }
}
