// paragraph
p {
  margin-top: $spacer;
}

hr {
  border-top: $primary-border;
  margin-block: $spacer;
  margin-inline: auto;
  opacity: 1;
  max-width: $spacer * 15;
}

// Headings
h5, h6 {
  line-height: $line-height-base;
}

.quote {
  margin-block: 0;
  margin-inline: $spacer * 2.5;
  position: relative;

  &:before {
    display: inline-block;
    font-family: $bootstrap-icons-font;
    font-style: normal;
    font-weight: $font-weight-normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f6b0";
    position: absolute;
    left: -1.5rem;
  }
}

.quote-footer {
  font-size: $font-size-sm;

  &::before {
    content: "\2014\00A0"; // em dash, nbsp
  }
}

.code-listing {
  margin: $spacer 0;
  background-color: $code-bg;
  overflow: hidden;
}

.code-wrapper {
  overflow-x: auto;

  tr {
    border-bottom: none;

    &:first-child {
      border-top: none;
    }
  }

  td {
    background-color: transparent;

    &.linenos {
      pre {
        color: $line-number-color;
      }
    }
  }
}

.example {
  margin-left: $spacer * 2.5;
}
