// paragraph
p {
  margin-top: $spacer;
}

hr, .line {
  margin-block: $spacer;
  background: url("/src/images/border.png") repeat-x;
}

.line {
  height: 3px;
}

hr {
  height: 1px;
  max-width: $spacer * 15;
  margin-inline: auto;
  border-top: none;
  opacity: 1;
}

// Headings
h5, h6 {
  line-height: $line-height-base;
}

.quote {
  margin-block: 0;
  margin-inline: $spacer * 2.5;
  position: relative;
}

.quote-footer {
  font-size: $font-size-sm;

  &::before {
    content: "\2014\2014\00A0"; // em dash, nbsp
  }
}

.code-listing {
  margin: $spacer 0;
  background-color: $code-bg;
  overflow: hidden;
}

.code-wrapper {
  overflow-x: auto;

  tr {
    border-bottom: none;

    &:first-child {
      border-top: none;
    }
  }

  td {
    background-color: transparent;

    &.linenos {
      pre {
        color: $line-number-color;
      }
    }
  }
}

.example {
  margin-left: $spacer * 2.5;
}
