// paragraph
p {
  margin-top: $spacer;
}

// Headings
h5, h6 {
  line-height: $line-height-base;
  font-weight: $font-weight-light-bold;
}

// Links
a.external:after {
  display: inline-block;
  font-family: $bootstrap-icons-font !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f1c5";
  margin-inline: $spacer * 0.25 0;
}

// Blockquotes
blockquote {
  margin-bottom: $blockquote-margin-y;
  @include font-size($font-size-base);

  > :first-child {
    margin-top: 0;
  }
}

.quote-footer {
  margin-top: $spacer;
  margin-bottom: 0;
  text-align: left;
  color: $body-color;

  &::before {
    content: "\2014\00A0"; // em dash, nbsp
  }
}

.code-listing {
  margin: $spacer 0;
  background-color: $light-code-background;
  overflow: hidden;
}

.code-wrapper {
  overflow-x: auto;

  tr {
    border-bottom: none;

    &:first-child {
      border-top: none;
    }
  }

  td {
    background-color: transparent;

    &.linenos {
      pre {
        color: $line-number-color;
      }
    }
  }
}

.example {
  margin-left: $spacer * 1.875;
}
