// Custom variables
$primary-text-color: #19191c;
$secondary-text-color: #5f6368;

$primary-border: 1px solid #d1d1d2;

// header
$header-shadow: 0 1px 2px 0 rgba($black, .3), 0 2px 6px 2px rgba($black, .15);

// topic
$topic-color: #332266;
$topic-bg: #eeeeff;
$topic-color-selected: #116666;
$topic-bg-selected: #aaffff;
$topic-hover-bg: #ddddff;
