// Custom variables
$primary-text-color: #19191c;
$secondary-text-color: #5f6368;

$primary-border: 1px solid #d1d1d2;

// header
$header-shadow: 0 1px 2px 0 rgba($black, .3), 0 2px 6px 2px rgba($black, .15);

// topic
$topic-color: #326;
$topic-bg: #eef;
$topic-color-selected: #166;
$topic-bg-selected: #aff;
$topic-hover-bg: #ddf;

// background
$light-highlight-background: #ffffcc;
$light-background: #f5f5f7;
$light-picture-background: #fafafa;

// code
$line-number-color: #aeb3c2;
