// Import Google fonts
@import "fonts";

@import "bootstrap/scss/functions";

// Include any default variable overrides here
$font-family-sans-serif: "Sorts Mill Goudy", "PingFang SC", "Microsoft YaHei", serif;
$font-family-monospace: "JetBrains Mono", monospace;

$body-color: rgb(79, 50, 28);

$link-color: #945424;
$link-hover-color: #945424;
$link-hover-decoration: underline;
$link-decoration: none;

$font-size-default: 1rem;
$font-size-base: 1.1rem;
$font-size-sm: 0.9rem;

$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1.1rem;
$h6-font-size: 1.1rem;

$headings-font-weight: 400;

@import "bootstrap/scss/variables";

// Include any default map overrides here

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";

// Optionally include any other parts as needed
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";

// Helpers
@import "bootstrap/scss/helpers";

// Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap/scss/utilities/api";

// Bootstrap icons
$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons";

// Add additional custom code here
@import "variables";
@import "typography";
@import "button";
@import "content";
@import "archive";
@import "notices";
@import "pagination";
@import "article";
@import "figures";
@import "table";
@import "stem";
