@import "bootstrap/scss/functions";

// Include any default variable overrides here
$font-family-sans-serif: "SF Pro Text", system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial;
$font-family-monospace: "SF Mono", SFMono-Regular , ui-monospace, Menlo, monospace;

$body-color: #202124;
$primary: #3f51b5;
$secondary: #303f9f;

$link-color: #1a73e8;
$link-hover-color: #1a73e8;
$link-decoration: none;

$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;
$h6-font-size: 1rem;
$headings-font-weight: 400;

@import "bootstrap/scss/variables";

// Include any default map overrides here

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";

// Optionally include any other parts as needed
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/nav";

// Helpers
@import "bootstrap/scss/helpers";

// Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap/scss/utilities/api";

// Bootstrap icons
$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons";

// Add additional custom code here
@import "variables";
@import "type";
@import "typography";
@import "header";
@import "content";
@import "footer";
@import "archive";
@import "notices";
@import "pagination";
@import "filter-bar";
@import "topic";
@import "article";
@import "figures";
@import "table";
@import "stem";
